/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.fade-carousel .slides .slide-2 {
  background-image: url(https://zlavomat.sgcdn.cz/images/t/2000/53/00/5300398-a68e05.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://www.travelguide.sk/userfiles/stays/kupele_aphrodite_rajecke_teplice_1402472357_park_1.jpg);
}


/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}
body  {
  font-family: 'Open Sans', sans-serif;
}

.header {
  text-align: center ;
  text-decoration: none;
}

*{
	padding: 0px;
	margin: auto;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Poppins', sans-serif;

}
.navbar{
	width: 100%;
	height: 80px;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #000;
}
.menu ul{
	display: flex;
	align-items: center;
}
.menu ul li a{
	text-decoration: none;
	color: #000;
	padding: 5px 12px;
	letter-spacing: 2px;
	font-size: 18px;
}
.menu ul li a:hover{
	border-bottom: 4px solid #000;
	transition: 0.4s;
} 

.body{
	width: 100%;
	height: 90vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-position: center;
	background-size: cover;
}

.sec1 {

    background-image: url(https://zilinskyturistickykraj.sk/wp-content/uploads/2021/10/Rajecke-Teplice_170624_RajeckeTeplice_009-790x450.jpg); 
}
.sec2 {

  text-align: center; 

}
iframe  {
  margin-top: 204px;
  margin-bottom: 204px;
  border-radius: 2%;
}
section {
  height: auto;
}

.sec3 {
  background-image: url(https://sacr3-files.s3-eu-west-1.amazonaws.com/_processed_/csm_Rajeck%25C3%25A9%2520Teplice%2520Banner%2520001_c4cb4e7d30.jpg);
  height: 750px; 
  color: #fff;
}

.sec4 {
  color: #212121;
  text-align: center;
  height: 600px;

}
.sec5 {
  background-image: url(https://www.dusekarpat.cz/foto/slovensko/rajecke-teplice-skalky-6-v.jpg);
}
.nadpis {
  margin-top: 204px;
  margin-bottom: 30px;
  font-size: 43px;
}

.dejiny {
  font-size: 19px;
  max-width: 500px;

margin-bottom: 30px;
}

.ah   {
  font-size: 19px;
  color: #000;
  margin-left: 200px;

}


footer  {

  background-color: #212121;
  color: #fff;
  padding: 20px;

  color: #ffffff;
  background-color: #212121;
}
.h1 {
padding-top: 50px;
}
.gallery-setcontainer {
  text-align: center;
  margin-top: 10px;
}

    .nadpis {
        font-size: 2rem;
    }
    .dejiny {
        font-size: 1rem;
    }
    .ah {
        font-size: 1rem;
    }

    /* Media query for screens smaller than 768px */
 /*   @media (max-width: 767px) {
        .nadpis {
            font-size: 1.5rem;
        }
        .dejiny {
            font-size: 0.8rem;
        }
        .ah {
            font-size: 0.8rem;
        }
    }

    .container {
      text-align: center;
  }
  .nadpis {
      font-size: 2rem;
      text-align: center;
  }
  .dejiny {
      font-size: 1rem;
      text-align: center;
  }
  .ah {
      font-size: 1rem;
      text-align: center;
  }
*/

